* { box-sizing: border-box; }

.example-slider {
  height: 50vw;
  .content div {
    min-height: 500px;
  }
}

.text-center {
  text-align: center;
}

h1 {
    font-family: 'Ubuntu Mono', monospace;
    color: indianred;
    font-size: 4rem;
}
