index.html
src/js/example*.js
src/scss/example*.scss
dist/example*.js
dist/css/example*.css
local

# setup
package-lock.json
.eslintrc
.eslintrc.js
.babelrc
.editorconfig
.prettierignore
.travis.yml
.coveralls.yml
.gitignore
.parcel-cache

# dev
favicon.ico

# tests
test/
tests/
coverage
coverage/
.nyc_output
tests_output
tests_output/
chromedriver.log
geckodriver.log
tests_output/
lib/
.nyc_output
.cache

.env
node_modules
node_modules/

/.github
/.idea

*.tgz
