* {
  box-sizing: border-box;
  font-family: Montserrat, monospace;
}
* li,
* p {
  font-family: sans-serif;
}
* a {
  font-weight: 700;
  color: #c71585;
}
* a:hover {
  color: #ba55d3;
}
* .violet {
  color: #c71585;
}
* .text-center {
  text-align: center;
}
h1 {
  color: #cd5c5c;
  font-size: 4rem;
}
h2 {
  color: #cd5c5c;
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
[class*="example-slider"] {
  display: block;
  border: 5px solid #000;
}
.example-slider-50 {
  width: 50%;
  margin: 30px auto;
}
.example-slider-75 {
  width: 75%;
  margin: 30px auto;
}
.example-slider-full {
  margin: 30px auto;
}
@media (max-width: 797px) {
  .example-slider-50,
  .example-slider-75 {
    width: 100%;
  }
}
section {
  margin-bottom: 30px;
  margin-top: 30px;
}
.why-scrub p {
  font-size: 1.5rem;
  font-family: "Ubuntu Mono", monospace;
  padding: 10px;
  font-weight: 700;
}
.how-to .options h4 {
  color: #cd5c5c;
  margin-bottom: 10px;
}
.how-to .options li {
  text-align: left;
}
pre {
  display: block;
  background: #000;
  color: #ba55d3;
  line-height: 1.5;
  padding: 10px;
  overflow: scroll;
}
pre span {
  color: #c71585;
}
.btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 15px 30px;
  margin: 10px;
  border: 3px solid #cd5c5c;
  color: #cd5c5c;
  font-size: 1.5rem;
  font-family: sans-serif;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.btn:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  transition: all 0.75s ease 0s;
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
  background: #cd5c5c;
}
.btn:hover {
  color: #fff;
}
.btn:hover:after {
  height: 450%;
}
@media (max-width: 797px) {
  .btn {
    width: 100%;
  }
}
